@import 'bootstrap/dist/css/bootstrap';

// .navbar-brand {
//     font-size: 3rem;
// } 

#home-container {
    margin-top: 25px;
  }
  
.search-area{
  padding-top: 50px;
}

.no-right-padding{
  padding-right: 0 !important;
}

.no-leftt-padding{
  padding-left: 0 !important;
}

.results-block {
  display: inline-block;
}